matplotlib==3.3.4
numpy==1.19.2
pandas==1.1.4
scipy==1.6.1
seaborn==0.11.1
tensorboard==2.4.1
torch==1.8.1
pyquaternion==0.9.9
pytest==6.2.2
orjson==3.5.1
ncls==0.0.57
dill==0.3.3
pathos==0.2.7
tqdm==4.53.0
notebook==6.2.0
scikit-learn==0.24.1
nuscenes-devkit==1.1.2
pykalman-bardo==0.9.6
networkx==2.6.3
python-louvain==0.15

